*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgb(240, 108, 240);
}
.nav-list ul li{
    list-style-type: none;
    display: inline;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
}
button{
    padding: 5px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 4px;
    background-color: violet;
    border: none;
}
.content{
    text-align: center;
    margin: 50px auto;
    width: 40%;
    
}
h1{
    padding: 10px;
}
h2{
    padding: 10px;
}
img{
    width: 100%;
    height: 600px;
}
.nav-list li:hover{
    background-color: violet;
    text-decoration: underline;
}
.button{
    position:absolute;
    top: 365px;
    display: flex;
    justify-content:space-between;
    font-size: 25px;
    
}
i{
    background-color: rgb(155, 150, 150);
    padding: 20px;
    margin: 10px;
    border-radius: 4px;
}
.img{
    position: relative;
}
.move-button{
    display: flex;
    justify-content: space-between;
    
}


